.toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #703b09;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 1;
    color: #fff;
}

.toolbar nav {
    height: 100%;

}

.logowrap {
    height: 80%;
}

.menuI {
    height: 70%;
    cursor: pointer;
}

.mobileonly {
    display: none;
}

@media all and (max-width: 499px){
    .desktoponly {
        display: none;
    }

    .mobileonly {
        display: block;
    }
}